body {
    font-family: 'Roboto', sans-serif;

}

@media screen and (max-width:768px) {
    .alert-info {
        border: lightgrey solid 2px;
        background-color: paleturquoise;
        height: 40px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .alert-info > a {
        text-decoration: none;
        color: black;
    }

    h1 {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        font-size: 3em;
    }

ul {
    box-sizing: border-box;
    list-style: none;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

ul li {
    background-color: lightgrey;
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}
img {
    height: 224px;
    width: 339px;
}
.header-img {
    display: flex;
    justify-content: center;
}

.sub-section {
    font-style: italic;
}

    footer {
        display: grid;
        grid-template-columns: 70% 1fr;
    }
    #social-media-links {
        grid-column: 2 / 3;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 19px;
    }

    .fab {
        padding: 0 15px;
    }
}
/*desktop css*/

@media screen and (min-width:768px) {
    body {
        margin: 0;
        padding: 8px;
        display: grid;
        grid-template-rows: 10% 70% 30% 5%;
        grid-template-columns: 70% 30%;
        height: 100vh;

    }
    .alert-info {
        display: none;
    }
    ul {
        display: flex;
        justify-content: flex-end;
        margin-right: -10px;

        list-style: none;
    }
    li {
        display: flex;
        align-items: center;
    }
    ul a {
        padding: 10px;

    }
    h1 {
        display: flex;
        justify-content: flex-start;

    }
    .header-img {
        display: flex;
        justify-content: center;
        grid-column: span 2;
        grid-row: 2 / 3;
    }
    img {
        width: 890px;
        height: 100%;
    }
    .sub-section {
        font-style: italic;
    }
    #main {
        margin-bottom: 5em;
        padding-right: .5em;
    }

    footer {
        grid-row: 4 / 5;
        grid-column: 1 / span 2;
        display: grid;
        grid-template-columns: 70% 1fr;
    }

    footer p {
        grid-column: 1 / 2;
    }
    #social-media-links {
        grid-column: 2 / 3;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 19px;
    }

    .fab {
        padding: 0 15px;
        font-size: 1.5em;
    }
}


